<div class="container">
  <header>
    <nav>
      <h1>Sample app</h1>
      <a routerLink="/about">About</a>
      <a routerLink="/dashboard">Dashboard</a>
      @if (!(userState | async)?.email) {
        <button (click)="login()">Login</button>
      } @else {
        <button (click)="logout()">Logout</button>
      }
    </nav>
  </header>
  <main>
    @if (isLoading()) {
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    }
    <router-outlet></router-outlet>
  </main>
</div>
